AUTHELIA_JWT_SECRET=
AUTHELIA_SESSION_SECRET=
AUTHELIA_STORAGE_ENCRYPTION_KEY=
CF_DNS_TOKEN=
CF_SECURE_TOKEN=
DB_DATABASE_NAME=
DB_DATA_LOCATION=
DB_PASSWORD=
DB_USERNAME=
DOMAIN=
EMAIL=
FILEU_HOME_DIR=
FILEU_ID=
GLUETUN_API=
IMMICH_VERSION=
ML_CONFIG_LOCATION=
ML_DOT_CACHE=
MODEL_CACHE_LOCATION=
NWU_HOME_DIR=
NWU_ID=
PHOTOU_ID=
REDIS_DATA_LOCATION=
SERVERU_HOME_DIR=
SERVERU_ID=
SLSKD_SLSK_PASSWORD=
SLSKD_SLSK_USERNAME=
STORAGE_DIR=
STREAMU_DIR=
STREAMU_ID=
TORRENTU_HOME_DIR=
TORRENTU_ID=
TZ=
UPLOAD_LOCATION=
VER=
WIREGUARD_PRIVATE_KEY=